{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row profileDiv">
        <!--Display profile photo-->
        <div class="col-md-4 profPicSize">
          {% if user.profile_pic_path %}
          <img
            src="{{url_for('static',filename=user.profile_pic_path)}}"
            alt="Prof Pic"
            class="rounded-circle"
          />
          {% else %}
          <img
            class="rounded-circle"
            style="background-color: transparent; border: none;"
            src="{{url_for('static',filename='images/profpic.png')}}"
            alt="Prof Pic"
          />
        {% endif %}
        </div>

        <div class="col-md-5 my-auto">
        <!-- displaying username -->

          <h3>{{ user.username | capitalize }}</h3>

          <!--Displaying user bio-->
          {% if user.bio %}
          <p>{{ user.bio }}</p>
          {%else%}
          <p>{{ user.username | capitalize }} has no bio yet</p>
          {% endif %}
               
     <div class="updateProf">
            <!-- update bio -->
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}"
              >Edit my profile</a
            >
            {% endif %}

            <!-- upload prof pic -->
            {% if user == current_user %}
            <form
              action="{{url_for('main.update_pic',uname=user.username)}}"
              method="post"
              enctype="multipart/form-data"
              class="profile"
            >
              <input type="file" name="photo" class="form-control" required />
              <input type="submit" />
            </form>
            {% endif %}

        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
