{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row profileDiv">
        <!--Display profile photo-->
        <div class="col-md-4 profPicSize">
          
          <img
            src=""
            alt=""
            class="rounded-circle"
          />
       
          <img
            class="rounded-circle"
            style="background-color: transparent; border: none;"
            src="{{url_for('static',filename='images/profpic.png')}}"
            alt="Prof Pic"
          />
        
        </div>

        <div class="col-md-5 my-auto">
     


            

          <div class="updateProf">
            <!-- update bio -->
            {% if user == current_user %}
            <a href="#"
              >Edit my profile</a
            >
            {% endif %}

            <!-- upload prof pic -->

            <form
              action=""
              method="post"
              enctype="multipart/form-data"
              class="profile"
            >
              <input type="file" name="photo" class="form-control" required />
              <input type="submit" />
            </form>




        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
