body{
    background-color:black;
}
.category{
    color:white;
    background-color: transparent;
    border-color: orangered;
}
.category1{
  color: orangered;
  text-align: center;
}
a:link {
    color:white;
  }
  
  /* visited link */
  a:visited {
    color:white;
  }
  
  /* mouse over link */
  a:hover {
    color: orange;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  .SecretForm input[type=submit], input[type=text] , textarea[name=review] , input[type=submit]{
    color:white;
    background-color:transparent;
    border-color:orangered;
    cursor: pointer;
    border-radius: 15px;
  }
  .SecretForm input[type=submit] :hover{
    background-color: orangered;
  }

 