body {
    font-size: 3vh;
    background-color: #000;
}
.profileDiv{
    background-color: #F5F5F5;
    color: orangered;
    border-radius: 7px;
    margin-top: 14vh;
    
}
.profPicSize {
    object-fit: cover;
    overflow: hidden;
    display: block;
  }
  .profPicSize img{
    max-width:100%;
    max-height:100%;
  }
  .updateProf{
      color: orangered;
  }
  .updateProf a{
    /* color: orangered; */
    color: #000;
}
  .profile input{
    background-color: #000;
    border-color: orangered;
    color: #fff;
    margin-top: 3vh;
    border-radius: 12px;
  }
  