
{% extends 'base.html'%}

{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-4 category">
                    <div class="content-section">
                        <h3 class="category">Categories</h3>
                        <!-- <p class='text-muted category'>See what secrets others have shared.</p> -->
                        <ul class="list-group category">
                            <li class="list-group-item list-group-item-light category"><a class="article-title" href="/category/1">Embarrassing</a></li>
                            <li class="list-group-item list-group-item-light category"><a class="article-title" href="/category/2">Love & Life</a></li>
                            <li class="list-group-item list-group-item-light category"><a class="article-title" href="/category/3">Work</a></li>
                            <li class="list-group-item list-group-item-light category"><a class="article-title" href="/category/4">Family</a></li>
                        </ul>
                        
                    </div>
            </div>
        <div class="col-md-8">
            
        </div>
        
    </div>
</main>


{% endblock %}
