{% extends 'base.html' %}

{% block content %}

<div class="secretsDisplay">
<a class="btn btn-sm btn-outline-danger center ml-5 m-2 btn-float" href="/category/post/new/{{category.id}}" style="position: relative;">Share your secret</a>
{% if posts %}
<div>

</div>
{% for post in posts %}


<article class="media content-section">
    <img src="{{ url_for('static',filename= 'images/' + user.profile_pic_path ) }}" alt="" class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ post.user.username }}</a>
              <small class="text-muted">{{ post.time.strftime('%Y-%m-%d') }}</small>
              {% if post.user == current_user %}
                <div>
                    <a class='btn btn-secondary btn-sm m-1'href="{{url_for('main.update_post',post_id=post.id)}}">Update</a>
                  
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>

                    




                </div>
​
              {% endif %}
            </div>
            <h2 class="article-title"  >{{ post.title }}</a></h2>
            <p class="article-content">{{ post.post }}</p>
        </div>
</article>
        <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
        </div>
    </div>

    {% endfor %}


{% else %}

 <h3 class="post" > no posts yet</h3>

{% endif %}
</div>
{% endblock %}

